<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer>
        const auth = require('');
        document.getElementById('loginButton').addEventListener('click', function(){
            
        });
    </script>
    <title>Welcome to the server</title>
</head>
<body>
    Welcome to the server!
    <button id='loginButton'>Click to Login</button>
</body>
</html>